<div id="main">
	
	<%= form_tag(:controller => "photo", :action => "deletePhoto") do |f| %>
	<div class = "field">
		<table>
		<tr>
			<td>Album Id:</td> 
			<td><%= text_field_tag :albumId, params[:id] %></td>
		</tr>
		<tr>
			<td>User Id:</td>
			<td><%= text_field_tag :userId, params[:userid] %></td>
		</tr>
		<tr>
			<td>Photo Id: </td>
			<td><%= text_field_tag :photoId, params[:photoid] %></td>
		</tr>
		</table>
	</div>

	<div class = "action" >
		<%= submit_tag value = "Delete Photo" %>
	</div>
	
	<% end %>
	
</div>